{% extends 'index/index.html' %} {% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Halaman Edit Obat</h1>
    <a
      href="{% url 'obat' %}"
      class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
      ><i class="fas fa-fw fa-long-arrow-alt-left"></i
    ></a>
  </div>
  <!-- Circle Buttons -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">EDIT OBAT</h6>
    </div>
    <div class="card-body">
      <div class="col-lg-6">
        <form method="post" action="">
          {% csrf_token %} {{form.as_p}}

          <button type="submit" class="btn btn-primary">
            <i class="fas fa-fw fa-save"></i>Simpan
          </button>
          <button type="reset" class="btn btn-success">
            <i class="fas fa-fw fa-window-close"></i>Batal
          </button>
        </form>
      </div>
    </div>
    <!-- end card-body-->
  </div>
</div>
<!-- end begin page content-->

{% endblock %}
